<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IBAnimatable-Material.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AEFC55D61D32212D00D9EC01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E953D8A31D3E278700647D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E953D8AC1D3E278700647D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
